@model IEnumerable<ShoppingCard.Web.Models.OrderViewModel>
@{
    ViewData["Title"] = "GetAllOrders";
}
<h1 align="center">AllOrders</h1>
<div class="container-fluid">
    <div class="form-group">
        <a class="btn btn-outline-primary" asp-controller="Order" asp-action="CreateOrder">Add New Order</a>
    </div>
</div>

<div class="container-fluid">
    <div class="form-group">
        <table class="table table-dark">
            <tr class="thead-dark">
                <th text-align="center">Order Id</th>
                <th>Customer Id</th>
                <th>Order Date</th>
            </tr>
            @{
                foreach(var orderItems in Model)
                {
                        <tr>
                            <td>@orderItems.Id</td>
                            <td>@orderItems.CustomerId</td>
                            <td>@orderItems.Date</td>
                            <td><a class="btn btn-primary" asp-controller="Order" asp-action="ShowOrderLines" asp-route-id="@orderItems.Id">View Order Items</a></td>
                            <td><a class="btn btn-danger" asp-controller="Order" asp-action="RemoveOrders" asp-route-id="@orderItems.Id">Delete</a></td>
                        </tr>
                }
            }
        </table>
    </div>
</div>